.header{
  display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    border-bottom: 20px solid #ffa500;
    background-color: #ff8c00;
    color: #ffffff;

    a{
      color: white;
      text-decoration: none;
    }
  &__title{
    color: white;
    font-size: 35px;
    padding: 20px;
    position: relative;
    left: 50px;
  }
  &__user{
    padding: 20px;
    a{
      text-decoration: none;
      color: white;
    }
  }
}
a{
  font-family:'DIN Alternate',sans-serif, 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN';
}
label{
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN';
}